.coffee {
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  h6 {
    padding: 10px;
  }

  .heading {
    padding: 10px;

    h1 {
      padding: 10px;
    }
    
    
    p {
      padding: 10px;
    }  
  }
  
  .cup1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   

    .coffee-item1 {
      width: 300px;
      height: auto;
      background-color: $header-background;
      margin: 10px;
    }

      .coffee-item1 img {
        width: 300px;
        height: auto;
      }

    
  }
  
  .cup2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
      }

      .item-heading {
        padding: 4px;
      }

      .item-comment {
        padding: 4px;
      }
  
      @media (min-width: 413px) {
          
          .coffee-selection {
            display: flex;
            flex-direction: column;
            /* flex-direction: column; */
            /* flex-wrap: wrap; */
          }

          .coffee-item1 {
            /* width: 400px; */
            width: 49%;
            height: auto;
            

          
          .coffee-item1 {
            img {
            
              width: 400px;
              height: auto;
              
            }
          } 
         
        }



        @media(min-width: 767px) {
          
          

          .cup1 {
            flex-wrap: wrap; 
         
          .coffee-item1 {
            width: 400px;
            height: auto;
          }

          
        }
        .cup2 {
          flex-wrap: wrap; 
          .coffee-item3 {
            width: 400px;
            height: auto;
          }
          
          
           
          
          .cup1 {
            .coffee-item1 {
              img {
              
                width: 400px;
                height: auto;
                
              }
            } 
            
          }

         
            }
          
            
    }
  }
}
