

// header colors
$header-navbar: darkgrey; 

$header-navbar-clicked: black;

$body: black;

// body colors

$body-color: black;

// footer colors
$footer-background: #001a33;
$footer-links: blue;
$footer-color:grey;



// square link
$square-link: aqua;