

// header colors
$header-navbar: darkgrey; 
$header-background: #f8f9fa;
$header-navbar-clicked: black;

$body: black;

// body colors

$body-color: black;

// footer colors
$footer-background: rgb(58, 62, 86);
$footer-links: #7ca5bc;
$footer-color:#fff;



// square link
$square-link: aqua;